:root {
	--primary: #2c262e;
	--secondary: #828282;
	--background: #fcfcfc;
	--comments-background: #f7f6f6;
	/* For some reason this color displays as blue if I use HSL but fine if I use rgb */
	--accent: #c557f4;
	--font-family: 'Inter', sans-serif;

	/* Dark mode colors */
	/* 
	--primary: hsl(0, 0, 99);
	--background: hsl(284, 10, 16);
	--secondary: hsl(0, 0, 76);
	--comments-secondary: hsl(0, 0, 89);
	--comments-background: hsl(284, 6, 22);
	*/
}
