:root {
	--primary: #2c262e;
	--secondary: #6c6a6a;
	--background: #fcfcfc;
	--comments-background: #f5f5f5;
	--comments-secondary: #707070;

	--line-height: var(--24px);
	/* --line-height: 26px; */
	/* For some reason this color displays as blue if I use HSL but fine if I use rgb */
	--accent: #c557f4;
	--font-family: 'Inter', sans-serif;

	/* Dark mode colors */
	/* 
	--primary: hsl(0, 0, 99);
	--background: hsl(284, 10, 16);
	--secondary: hsl(0, 0, 76);
	--comments-secondary: hsl(0, 0, 89);
	--comments-background: hsl(284, 6, 22);
	*/

	/* Vertical spacings & font sizes */
	--4px: 0.25rem;
	--8px: 0.5rem;
	--12px: 0.75rem;
	--14px: 0.875rem;
	--16px: 1rem;
	--18px: 1, 125rem;
	--20px: 1.25rem;
	--24px: 1.5rem;
	--30px: 1.875rem;
	--32px: 2rem;
	--36px: 2.25rem;
	--48px: 3rem;
	--64px: 4rem;
	--96px: 6rem;
	--128px: 8rem;
	--192px: 12rem;
}
